@import './_variables'
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  

a
  color: inherit
  text-decoration: none
  .active
    color: $warning
    font-weight: bold

button
  cursor: pointer

body
  background: linear-gradient(214deg, rgba(21,23,27,1) 34%, rgba(82,82,82,1) 100%)

body, input, button, textarea, select
  font: 400 1rem 'Lato', sans-serif