@import './_variables.sass'

.container
  display: block

.containerHeader
  min-height: calc( 100vh - 11rem )
  margin: 0 auto
  max-width: 85rem

  display: flex
  align-items: center
  justify-content: space-between

  img
    max-width: 640px
    filter: drop-shadow(3px 3px 14px #000)

.ctaText
  max-width: 600px
  display: flex
  flex-direction: column
  align-items: center
  
  img
    border-radius: 50%
    filter: drop-shadow(3px 3px 14px #000)

  h1
    font-size: 3.5rem
    font-weight: 900
    line-height: 4.5rem
    margin-top: 2.5rem
    color: $white
    filter: drop-shadow(3px 3px 14px #000)

    span 
      color: $cta

.divisor
  width: 100%
  bottom: 0
  height: 1px
  background: $-divisor

.sectionContent
  margin: 5.5rem auto
  max-width: 1120px
  display: flex
  align-items: center
  justify-content: center
  transition: 0.2s

  section
    max-width: 670px
    display: flex
    flex-direction: column
    align-items: center

  h2
    font-size: 2.2rem
    font-weight: 900
    line-height: 4.5rem
    margin-top: 2.2rem
    color: $white
    filter: drop-shadow(3px 3px 14px #000)

@media (max-width: 1400px)
  .container
    .containerHeader
      padding: 2rem 2rem
      display: flex
      justify-content: space-evenly

    div h1
      font-size: 2.5rem

.ctaAvatar
  width: 300px
  height: 300px
  max-width: 100%
  margin: 3rem auto

.ctaImage
  max-width: 100%
  margin: 3rem auto

@media (max-width: 1080px)
  .container
    .containerHeader
      padding: 0 2rem
      display: flex
      flex-direction: column

  .sectionContent
    flex-direction: column
    align-items: center
    justify-content: center

    section
      max-width: 600px
      margin: 1rem auto

      h2
        font-size: 1.6rem
        padding: 0 0 4rem 0


@media (max-width: 640px)
  .container
    .containerHeader
      .ctaText

        h1
          font-size: 1.88rem
          line-height: 3rem
          margin-top: 1.5rem

      .ctaImage
        max-width: 100%
        height: auto
        margin: 1rem auto

      .ctaAvatar
        max-width: 100%
        height: auto
        

  .ctaText
    section
      h1
        font-size: 1rem

  .sectionContent
    max-width: 400px
    margin: 1rem auto

    section
      h2
        font-size: 1.3rem
        padding: 0 0 3rem 0
       
        