@import '../../styles/_variables'

.headerContainer
  height: 10rem
  background: $header
  box-shadow: 0 2px 20px $divisor

.headerContent
  max-width: 1120px
  height: 10rem
  margin: 0 auto
  padding: 0 2rem
  display: flex
  align-items: center
  justify-content: center

  nav
    display: flex
    align-items: center
    justify-content: center

    button
      visibility: hidden
      background: transparent
      border: 0

    a
      padding: 0 0.5rem
      color: $-divisor
      transition: color 0.2s
      font-size: 1.2rem

      & + a
        margin-left: 2rem
      &:hover
        color: $white

@media (max-width: 640px)
  .headerContainer
    .headerContent
      nav
        visibility: hidden

      button
        position: absolute
        top: 1rem
        right: 1rem
        visibility: visible


        
          

