.container
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .content
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    justify-content: center
    align-items: center
    max-width: 1120px

@media (max-width: 1000px)
  .container
    .content
      grid-template-columns: repeat(2, 1fr)

@media (max-width: 680px)
  .container
    .content
      grid-template-columns: repeat(1, 1fr)